<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Consulta Parques Cementerio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-justify-content-left">
        <ion-col size="3">
          <img alt="Aplicación Móvil Parques de Chile" src="/assets/img/banda_bicolor_sola.png" />
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size ="3">
          <img alt="Aplicación Móvil Parques de Chile" src="/assets/img/parques.png" />
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  
  <ion-card>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size ="5" >
          <ion-card-title>Consulta Parques Cementerio</ion-card-title>
        </ion-col>
      </ion-row>
    </ion-grid>  
      
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="10">
          <ion-list>
            <ion-item>
              <ion-select aria-label="region" placeholder="Region">
                <ion-select-option value="primera">Región de Arica y Parinacota</ion-select-option>
                <ion-select-option value="segunda">Región de Tarapacá</ion-select-option>
                <ion-select-option value="tercera">Región de Antofagasta</ion-select-option>
                <ion-select-option value="cuarta">Región de Atacama</ion-select-option>
                <ion-select-option value="quinta">Región de Coquimbo</ion-select-option>
                <ion-select-option value="sexta">Región de Valparaíso</ion-select-option>
                <ion-select-option value="septima">Región Metropolitana</ion-select-option>
                <ion-select-option value="octava">Región de O'Higgins</ion-select-option>
                <ion-select-option value="novena">Región del Maule</ion-select-option>
                <ion-select-option value="decima">Región del Ñuble</ion-select-option>
                <ion-select-option value="undecima">Región del Biobío</ion-select-option>
                <ion-select-option value="duodecima">Región de La Araucanía</ion-select-option>
                <ion-select-option value="decimotercera">Región de Los Ríos</ion-select-option>
                <ion-select-option value="decimocuarta">Región de Los Lagos</ion-select-option>
                <ion-select-option value="decimoquinta">Región de Aysén</ion-select-option>
                <ion-select-option value="decimosexta">Región de Magallanes</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="10">
          <ion-list>
            <ion-item>
              <ion-select aria-label="comuna" placeholder="Comuna">
                <ion-select-option value="primera">Región de Arica y Parinacota</ion-select-option>
                <ion-select-option value="segunda">Región de Tarapacá</ion-select-option>
                <ion-select-option value="tercera">Región de Antofagasta</ion-select-option>
                <ion-select-option value="cuarta">Región de Atacama</ion-select-option>
                <ion-select-option value="quinta">Región de Coquimbo</ion-select-option>
                <ion-select-option value="sexta">Región de Valparaíso</ion-select-option>
                <ion-select-option value="septima">Región Metropolitana</ion-select-option>
                <ion-select-option value="octava">Región de O'Higgins</ion-select-option>
                <ion-select-option value="novena">Región del Maule</ion-select-option>
                <ion-select-option value="decima">Región del Ñuble</ion-select-option>
                <ion-select-option value="undecima">Región del Biobío</ion-select-option>
                <ion-select-option value="duodecima">Región de La Araucanía</ion-select-option>
                <ion-select-option value="decimotercera">Región de Los Ríos</ion-select-option>
                <ion-select-option value="decimocuarta">Región de Los Lagos</ion-select-option>
                <ion-select-option value="decimoquinta">Región de Aysén</ion-select-option>
                <ion-select-option value="decimosexta">Región de Magallanes</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="10">
          <ion-list>
            <ion-item>
              <ion-select aria-label="ciudad" placeholder="Ciudad">
                <ion-select-option value="primera">Región de Arica y Parinacota</ion-select-option>
                <ion-select-option value="segunda">Región de Tarapacá</ion-select-option>
                <ion-select-option value="tercera">Región de Antofagasta</ion-select-option>
                <ion-select-option value="cuarta">Región de Atacama</ion-select-option>
                <ion-select-option value="quinta">Región de Coquimbo</ion-select-option>
                <ion-select-option value="sexta">Región de Valparaíso</ion-select-option>
                <ion-select-option value="septima">Región Metropolitana</ion-select-option>
                <ion-select-option value="octava">Región de O'Higgins</ion-select-option>
                <ion-select-option value="novena">Región del Maule</ion-select-option>
                <ion-select-option value="decima">Región del Ñuble</ion-select-option>
                <ion-select-option value="undecima">Región del Biobío</ion-select-option>
                <ion-select-option value="duodecima">Región de La Araucanía</ion-select-option>
                <ion-select-option value="decimotercera">Región de Los Ríos</ion-select-option>
                <ion-select-option value="decimocuarta">Región de Los Lagos</ion-select-option>
                <ion-select-option value="decimoquinta">Región de Aysén</ion-select-option>
                <ion-select-option value="decimosexta">Región de Magallanes</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <ion-title>Detalle</ion-title>
            <h3>Cementerio 1</h3>
              <p>Esta es la descripcion del primer cementerio listado</p>
    <ion-grid>
            <ion-row class="ion-justify-content-center">
        <ion-col size ="2">
          <ion-button routerLink="/consultas" color="light" expand="full">VOLVER</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  
  </ion-card>
</ion-content>
    
