<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Consultas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-justify-content-left">
        <ion-col size="3">
          <img alt="Aplicación Móvil Parques de Chile" src="/assets/img/banda_bicolor_sola.png" />
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size ="3">
          <img alt="Aplicación Móvil Parques de Chile" src="/assets/img/parques.png" />
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  
  <ion-card>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size ="3" >
          <ion-card-title>Consultas</ion-card-title>
        </ion-col>
      </ion-row>
    </ion-grid>  
      
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="10">
          <ion-button routerLink="/consulta-parques" color="light" expand="block">Consulta Parques</ion-button> 
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="10">
          <ion-button routerLink="/consulta-sepultaciones" color="light" expand="block">Consulta Sepultaciones</ion-button> 
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="10">
          <ion-button routerLink="/home" color="light" expand="block">Volver</ion-button> 
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size ="2">
          <ion-button routerLink="/splash" color="light" expand="full">SALIR</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  
  </ion-card>
</ion-content>
    
